.card {
  width: 120px;
  height: 220px;
  text-align: center;
  padding: 20px;
  margin: 5px 8px;
  background-color: whitesmoke;
  color: black;
}
.color_not_alive {
  background-color: rgb(249 195 195);
  color: rgb(173, 70, 70);
  border: 1px solid rgb(123 60 60);
}
.card p {
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 15ch;
}
.picture {
  width: 90px;
  height: 90px;
}
